*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shape{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

#circle{
    border-radius: 50%;
}
#circle:hover{
    background-color: green;
}

#rhombus{
    rotate: 45deg;
    margin-top: 50px;
    h1{
        rotate: -45deg;
    }
}
#rhombus:hover{
    background-color: blue;
}

#square:hover{
    background-color: red;
}
